.service-cards {
  display: flex;
  margin: 1.5rem 0px;
  justify-content: space-between;
}

.service-card {
  width: 24%;
  text-align: center;
}

.service-card-title {
  padding: .3rem;
  border-radius: 20px 0px;
  margin-bottom: 0.5rem;
  color: var(--color-white);
  background-color: var(--blue-green);
}

.service-para {
  color: red;
}


@media screen and (max-width: 768px) {
  .service-card {
    width: 45%;
  }
}