.footer {
  color: var(--color-white);
  background-color: var(--blue-green);
}

#footer-content {
  padding: 1rem 0px;
  display: flex;
  justify-content: space-between;
}

#footer-logo {
  width: 8rem;
}

#copy {
  text-align: center;
  padding-bottom: 1.5rem;
}
#copyright {
  font-size: 0.7rem;
}
#go-to, #other-links {
  color: var(--web-color);
}

@media screen and (max-width:768px) {
 #foot-logo {
  display: none;
 }

 .soc-media {
  width: 3rem;
  padding: 0px 1rem;
 }
 
}

@media screen and (max-width:425px) {
  #footer-content {
    padding: 1rem 0px;
    display: block;
    justify-content: space-between;
  }
  
  #footer-content div {
    margin: 1rem 0px;
  }

  div ul li {
    margin-left: 1.5rem;
  }
  #social-media {
    text-align: center;
  }
}