.intro {
  text-align: center;
  margin: 5rem 0px;
  text-shadow: 1px 2px rgba(255, 255, 255, 1) ;
}

#intro-remark {
  font-size: 3.5rem;
}

#slogan {
  margin: 1.5rem 0px;
  font-size: 2.5rem;
  font-weight: 200;
}

.intro-btn {
  padding: 0.5rem 4rem;
  margin: 2rem 0px;
  color: var(--color-white);
  background: var(--bg-glassy);
  border-radius: 1rem;
  border: 1px solid #ffff;
}

@media screen and (max-width: 768px) {
  #intro-remark {
    font-size: 2.5rem;
  }
  
  #slogan {
    margin: 1rem 0px;
    font-size: 2rem;
    font-weight: 200;
  }
  
  .intro-btn {
    padding: 0.2rem 3.5rem;
    margin: 2rem 0px;
    color: var(--color-white);
    background-color: var(--blue-green);
    border-radius: 1rem;
  }
}


@media screen and (max-width: 430px) {
  #intro-remark {
    font-size: 1.3rem;
  }
  
  #slogan {
    margin: 1rem 0px;
    font-size: 1rem;
    font-weight: 200;
  }
  
  .intro-btn {
    padding: 0.2rem 2rem;
    margin: 0.5rem 0px;
    color: var(--color-white);
    background-color: var(--blue-green);
    border-radius: 1rem;
  }
}

@media screen and (max-width: 320px) {
  
}